<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<style>
#app .schedule {
  border: 5px solid blue;
  margin: 5px 0;
  width: 30rem;
  padding: 5px;
}
table { 
  width: 100%;
}
body { font-family: sans-serif; }
.date-row {
  text-align: center;
  font-family: fantasy;
}
.round-row, .bye {
  font-family: cursive;
}
.date-row td { width: 100%; }
</style>
<div id="app" class="container">
  <div class="schedule" v-for="team in teams">
    <table>
      <tr class="date-row">
        <td colspan="99">{{ theDate }}</td>
      </tr>

      <tr v-for="game in gameFor(team.realName, theNumericDate)" :class="{ 'bye': game.isBye, 'round-row': !game.isBye }">
        <td>Round {{ game.calculated.round }}</td>
        <td>{{ game.calculated.time }}</td>
        <td>
          <span v-if="!game.isBye">{{ team.displayName }}</span>
          <span v-if="game.isBye">Bye</span>
        </td>
        <td>
          <span v-if="!game.isBye">vs</span>
          <span v-if="game.isBye"></span>
        </td>
        <td>
          <span v-if="!game.isBye">{{ game.calculated.opponent.displayName }}</span>
          <span v-if="game.isBye"></span>
        </td>
      </tr>
    </table>
  </div>
</div>

<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      teams: [
        { realName: 'Monty Montessano', displayName: 'Monty' },
        { realName: 'Mr Taylor Hession', displayName: 'Taylor' },
        { realName: 'Joe Young', displayName: 'Joe' },
        { realName: 'Rooster', displayName: 'Rooster' },
        { realName: 'Beers', displayName: 'Beers' }
      ],
      roundMap: [
        { signature: "18:15", roundData: { round: "1", time: "6:15PM" } },
        { signature: "18:48", roundData: { round: "2", time: "6:45PM" } },
        { signature: "19:21", roundData: { round: "3", time: "7:15PM" } },
        { signature: "19:54", roundData: { round: "4", time: "7:45PM" } }
      ],
      theDate: "Tuesday Nov 1",
      theNumericDate: "2022-11-01",
      games: [
        {
        "id": 120733895,
        "venue_name": "Field 1",
        "home_team_name": "Monty Montessano",
        "away_team_name": "Mr Taylor Hession",
        "week": 1,
        "start": "2022-10-18T18:15:00",
        "home_score": 6,
        "home_points": 3,
        "away_score": 5,
        "away_points": 0,
        "friendly": false,
        "comment": "",
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363724,
        "away_team": 12363725,
        "venueavail": 74846272,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733894,
        "venue_name": "Field 2",
        "home_team_name": "Joe Young",
        "away_team_name": "Rooster",
        "week": 1,
        "start": "2022-10-18T18:15:00",
        "home_score": 6,
        "home_points": 0,
        "away_score": 9,
        "away_points": 3,
        "friendly": false,
        "comment": "",
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363723,
        "away_team": 12363726,
        "venueavail": 74846288,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733891,
        "venue_name": "Field 1",
        "home_team_name": "Beers",
        "away_team_name": "Mr Taylor Hession",
        "week": 1,
        "start": "2022-10-18T18:48:00",
        "home_score": 6,
        "home_points": 3,
        "away_score": 5,
        "away_points": 0,
        "friendly": false,
        "comment": "",
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363727,
        "away_team": 12363725,
        "venueavail": 74846276,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733893,
        "venue_name": "Field 2",
        "home_team_name": "Monty Montessano",
        "away_team_name": "Joe Young",
        "week": 1,
        "start": "2022-10-18T18:48:00",
        "home_score": 5,
        "home_points": 0,
        "away_score": 6,
        "away_points": 3,
        "friendly": false,
        "comment": "",
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363724,
        "away_team": 12363723,
        "venueavail": 74846292,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733892,
        "venue_name": "Field 1",
        "home_team_name": "Beers",
        "away_team_name": "Rooster",
        "week": 1,
        "start": "2022-10-18T19:21:00",
        "home_score": 6,
        "home_points": 0,
        "away_score": 7,
        "away_points": 3,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363727,
        "away_team": 12363726,
        "venueavail": 74846280,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733888,
        "venue_name": "Field 2",
        "home_team_name": "Joe Young",
        "away_team_name": "Mr Taylor Hession",
        "week": 1,
        "start": "2022-10-18T19:21:00",
        "home_score": 9,
        "home_points": 3,
        "away_score": 4,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363723,
        "away_team": 12363725,
        "venueavail": 74846296,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733890,
        "venue_name": "Field 1",
        "home_team_name": "Joe Young",
        "away_team_name": "Beers",
        "week": 1,
        "start": "2022-10-18T19:54:00",
        "home_score": 7,
        "home_points": 3,
        "away_score": 6,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363723,
        "away_team": 12363727,
        "venueavail": 74846284,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733889,
        "venue_name": "Field 2",
        "home_team_name": "Rooster",
        "away_team_name": "Monty Montessano",
        "week": 1,
        "start": "2022-10-18T19:54:00",
        "home_score": 11,
        "home_points": 3,
        "away_score": 5,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363726,
        "away_team": 12363724,
        "venueavail": 74846300,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733900,
        "venue_name": "Field 1",
        "home_team_name": "Mr Taylor Hession",
        "away_team_name": "Joe Young",
        "week": 2,
        "start": "2022-10-25T18:15:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363725,
        "away_team": 12363723,
        "venueavail": 74846273,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733902,
        "venue_name": "Field 2",
        "home_team_name": "Rooster",
        "away_team_name": "Beers",
        "week": 2,
        "start": "2022-10-25T18:15:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363726,
        "away_team": 12363727,
        "venueavail": 74846289,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733904,
        "venue_name": "Field 1",
        "home_team_name": "Monty Montessano",
        "away_team_name": "Rooster",
        "week": 2,
        "start": "2022-10-25T18:48:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363724,
        "away_team": 12363726,
        "venueavail": 74846277,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733899,
        "venue_name": "Field 2",
        "home_team_name": "Mr Taylor Hession",
        "away_team_name": "Beers",
        "week": 2,
        "start": "2022-10-25T18:48:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363725,
        "away_team": 12363727,
        "venueavail": 74846293,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733897,
        "venue_name": "Field 1",
        "home_team_name": "Joe Young",
        "away_team_name": "Beers",
        "week": 2,
        "start": "2022-10-25T19:21:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363723,
        "away_team": 12363727,
        "venueavail": 74846281,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733901,
        "venue_name": "Field 2",
        "home_team_name": "Mr Taylor Hession",
        "away_team_name": "Monty Montessano",
        "week": 2,
        "start": "2022-10-25T19:21:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363725,
        "away_team": 12363724,
        "venueavail": 74846297,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733903,
        "venue_name": "Field 1",
        "home_team_name": "Beers",
        "away_team_name": "Monty Montessano",
        "week": 2,
        "start": "2022-10-25T19:54:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363727,
        "away_team": 12363724,
        "venueavail": 74846285,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733898,
        "venue_name": "Field 2",
        "home_team_name": "Joe Young",
        "away_team_name": "Rooster",
        "week": 2,
        "start": "2022-10-25T19:54:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363723,
        "away_team": 12363726,
        "venueavail": 74846301,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733911,
        "venue_name": "Field 1",
        "home_team_name": "Rooster",
        "away_team_name": "Beers",
        "week": 3,
        "start": "2022-11-01T18:15:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363726,
        "away_team": 12363727,
        "venueavail": 74846274,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733905,
        "venue_name": "Field 2",
        "home_team_name": "Monty Montessano",
        "away_team_name": "Mr Taylor Hession",
        "week": 3,
        "start": "2022-11-01T18:15:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363724,
        "away_team": 12363725,
        "venueavail": 74846290,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733910,
        "venue_name": "Field 1",
        "home_team_name": "Rooster",
        "away_team_name": "Mr Taylor Hession",
        "week": 3,
        "start": "2022-11-01T18:48:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363726,
        "away_team": 12363725,
        "venueavail": 74846278,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733906,
        "venue_name": "Field 2",
        "home_team_name": "Monty Montessano",
        "away_team_name": "Joe Young",
        "week": 3,
        "start": "2022-11-01T18:48:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363724,
        "away_team": 12363723,
        "venueavail": 74846294,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733907,
        "venue_name": "Field 1",
        "home_team_name": "Beers",
        "away_team_name": "Joe Young",
        "week": 3,
        "start": "2022-11-01T19:21:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363727,
        "away_team": 12363723,
        "venueavail": 74846282,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733909,
        "venue_name": "Field 2",
        "home_team_name": "Rooster",
        "away_team_name": "Monty Montessano",
        "week": 3,
        "start": "2022-11-01T19:21:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363726,
        "away_team": 12363724,
        "venueavail": 74846298,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733908,
        "venue_name": "Field 1",
        "home_team_name": "Joe Young",
        "away_team_name": "Mr Taylor Hession",
        "week": 3,
        "start": "2022-11-01T19:54:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363723,
        "away_team": 12363725,
        "venueavail": 74846286,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733912,
        "venue_name": "Field 2",
        "home_team_name": "Monty Montessano",
        "away_team_name": "Beers",
        "week": 3,
        "start": "2022-11-01T19:54:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363724,
        "away_team": 12363727,
        "venueavail": 74846302,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733915,
        "venue_name": "Field 1",
        "home_team_name": "Beers",
        "away_team_name": "Mr Taylor Hession",
        "week": 4,
        "start": "2022-11-08T18:15:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363727,
        "away_team": 12363725,
        "venueavail": 74846275,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733917,
        "venue_name": "Field 2",
        "home_team_name": "Rooster",
        "away_team_name": "Joe Young",
        "week": 4,
        "start": "2022-11-08T18:15:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363726,
        "away_team": 12363723,
        "venueavail": 74846291,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733914,
        "venue_name": "Field 1",
        "home_team_name": "Mr Taylor Hession",
        "away_team_name": "Joe Young",
        "week": 4,
        "start": "2022-11-08T18:48:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363725,
        "away_team": 12363723,
        "venueavail": 74846279,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733920,
        "venue_name": "Field 2",
        "home_team_name": "Beers",
        "away_team_name": "Monty Montessano",
        "week": 4,
        "start": "2022-11-08T18:48:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363727,
        "away_team": 12363724,
        "venueavail": 74846295,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733916,
        "venue_name": "Field 1",
        "home_team_name": "Mr Taylor Hession",
        "away_team_name": "Rooster",
        "week": 4,
        "start": "2022-11-08T19:21:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363725,
        "away_team": 12363726,
        "venueavail": 74846283,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733913,
        "venue_name": "Field 2",
        "home_team_name": "Joe Young",
        "away_team_name": "Monty Montessano",
        "week": 4,
        "start": "2022-11-08T19:21:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363723,
        "away_team": 12363724,
        "venueavail": 74846299,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733919,
        "venue_name": "Field 1",
        "home_team_name": "Beers",
        "away_team_name": "Rooster",
        "week": 4,
        "start": "2022-11-08T19:54:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363727,
        "away_team": 12363726,
        "venueavail": 74846287,
        "venue": 1008339,
        "referee": null,
        "assistant_referees": [ ]
        },
        {
        "id": 120733918,
        "venue_name": "Field 2",
        "home_team_name": "Mr Taylor Hession",
        "away_team_name": "Monty Montessano",
        "week": 4,
        "start": "2022-11-08T19:54:00",
        "home_score": null,
        "home_points": 0,
        "away_score": null,
        "away_points": 0,
        "friendly": false,
        "comment": null,
        "locked": true,
        "season": 1193584,
        "playoff_fixture": null,
        "home_team": 12363725,
        "away_team": 12363724,
        "venueavail": 74846303,
        "venue": 1008340,
        "referee": null,
        "assistant_referees": [ ]
        }
        ]
    },
    methods: {
      getTeam: function(realName) {
        return this.teams.find(team => team.realName == realName);
      },
      getRound: function(timestamp) {
        let round = "0";
        let time = "never123";

        let roundMap = this.roundMap;

        let identifiedRound = {};

        roundMap.forEach(map => {
          if (timestamp.indexOf(map.signature) != -1) {
            identifiedRound = map.roundData;
          }
        });

        return {
          time: identifiedRound.time,
          round: identifiedRound.round
        };
      },
      gameFor: function (teamName, date, roundNumber) {
        var games = this.games.filter(game => {
          return (game.home_team_name == teamName || game.away_team_name == teamName);
        }).filter(game => {
          return game.start.indexOf(date) != -1;
        }).map(game => {
          var round = this.getRound(game.start);
          game.calculated = {
            time: round.time,
            round: round.round,
            opponent: game.home_team_name == teamName ? this.getTeam(game.away_team_name) : this.getTeam(game.home_team_name)
          };

          return game;
        });

        var rounds = this.roundMap;
        console.log({ games} );
        return rounds.map(map => {
          let game = games.find(game => game.calculated.round == map.roundData.round);
          if (game) {
            game.calculated.isBye = false;
            return game;
          } else {
            return {
              isBye: true,
              calculated: map.roundData
            };
          }
        });
      }
    }
  });
</script>